
@media screen and (min-width: 376px){
    .bg-container{
        height: 100vh;
        width: 100%;
        background-color: white;
    
        font-family: "Montserrat";
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .heading{
        color:black
    }
    
    .pricing-card{
        height: 80vh;
        width: 80%;
        background-color: grey;
        background: url(images/bg-top.svg) right top no-repeat, url(images/bg-bottom.svg) left bottom no-repeat;
        
        
        
        
        /* box-shadow: 5px  #888888; */
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .schemes-section{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }
    
    .plan-cards-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        flex-wrap: wrap;
        overflow-y:scroll;
    }
    
    
    .plan-card{
        height: 400px;
        width: 300px;
        border-radius: 5px;
        color: black;
        background-color: white;
        padding:10px;
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
        
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        flex-shrink: 1;
    
    
        
    
    }
    .plan-card-title{
        font-size: 15px;
    
    }
    .plan-card-price{
        font-size: 30px;
    
    }
    .plan-card-detail-text{
        font-size: 15px;
    
    }
    .plan-card-button{
        color: white;
        font-size: 15px;
        background: linear-gradient(hsl(236, 72%, 79%) , hsl(237, 63%, 64%));
        border-radius: 2px;
        border:30px;
        padding: 10px;
        cursor: pointer;
        /* border-left:30px; */
    }
    
    .center-plan-card{
        background: linear-gradient(hsl(236, 72%, 79%) , hsl(237, 63%, 64%));
        color: white;
        height: 430px;
        width: 330px;
        flex-shrink: 1;
    }
    .center-button{
        background: white;
        color: blue;
    }
    
    
    .toggle {
        cursor: pointer;
        display: inline-block;
        margin: 10px;
      }
      
      .toggle-switch {
        display: inline-block;
        background: #ccc;
        border-radius: 16px;
        width: 58px;
        height: 32px;
        position: relative;
        vertical-align: middle;
        transition: 0.25s;
      }
      .toggle-switch:before, .toggle-switch:after {
        content: "";
      }
      .toggle-switch:before {
        display: block;
        background: linear-gradient(to bottom, #fff 0%, #eee 100%);
        border-radius: 50%;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
        width: 24px;
        height: 24px;
        position: absolute;
        top: 4px;
        left: 4px;
        transition: left 0.25s;
      }
      .toggle:hover .toggle-switch:before {
        background: linear-gradient(to bottom, #fff 0%, #fff 100%);
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
      }
      .toggle-checkbox:checked + .toggle-switch {
        background: linear-gradient(hsl(236, 72%, 79%) , hsl(237, 63%, 64%));
      }
      .toggle-checkbox:checked + .toggle-switch:before {
        left: 30px;
      }
      
      .toggle-checkbox {
        position: absolute;
        visibility: hidden;
      }
    
}
    


  
  @media screen and (max-width:375px){
    .bg-container{
        height: 100vh;
        width: 100%;
        background: url(images/bg-top.svg) right top no-repeat, url(images/bg-bottom.svg) left bottom no-repeat;
        
        font-family: "Montserrat";
       
    
        display: flex;
        justify-content: center;
        align-items: center;

        overflow-y:scroll;
    }
    
    .heading{
        color:black
    }
    
    .pricing-card{
      height: 100vh;
      width: 100%;
        
        
        
        /* box-shadow: 5px  #888888; */
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        overflow-y:scroll;
        
    }
    
    .schemes-section{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }
    
    .plan-cards-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        
        
    }
    
    
    .plan-card{
        height: 310px;
        width: 200px;
        border-radius: 5px;
        color: black;
        background-color: white;
        padding:10px;
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
        
    
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 10px;
        
        
    
    
        
    
    }
    .plan-card-title{
        font-size: 10px;
    
    }
    .plan-card-price{
        font-size: 12px;
    
    }
    .plan-card-detail-text{
        font-size: 10px;
    
    }
    .plan-card-button{
        color: white;
        font-size: 10px;
        background: linear-gradient(hsl(236, 72%, 79%) , hsl(237, 63%, 64%));
        border-radius: 1px;
        border:10px;
        padding: 10px;
        cursor: pointer;
        /* border-left:30px; */
    }
    
    .center-plan-card{
        background: linear-gradient(hsl(236, 72%, 79%) , hsl(237, 63%, 64%));
        color: white;
        height: 320px;
        width: 210px;
        flex-shrink: 1;
    }
    .center-button{
        background: white;
        color: blue;
    }
    
    
    .toggle {
        cursor: pointer;
        display: inline-block;
        margin: 10px;
      }
      
      .toggle-switch {
        display: inline-block;
        background: #ccc;
        border-radius: 16px;
        width: 58px;
        height: 32px;
        position: relative;
        vertical-align: middle;
        transition: 0.25s;
      }
      .toggle-switch:before, .toggle-switch:after {
        content: "";
      }
      .toggle-switch:before {
        display: block;
        background: linear-gradient(to bottom, #fff 0%, #eee 100%);
        border-radius: 50%;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
        width: 24px;
        height: 24px;
        position: absolute;
        top: 4px;
        left: 4px;
        transition: left 0.25s;
      }
      .toggle:hover .toggle-switch:before {
        background: linear-gradient(to bottom, #fff 0%, #fff 100%);
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
      }
      .toggle-checkbox:checked + .toggle-switch {
        background: linear-gradient(hsl(236, 72%, 79%) , hsl(237, 63%, 64%));
      }
      .toggle-checkbox:checked + .toggle-switch:before {
        left: 30px;
      }
      
      .toggle-checkbox {
        position: absolute;
        visibility: hidden;
      }
  }